.footer--section {
    background-color: var(--dark--shadow);
}

.footer--logo, .footer--copyright, .footer--social {
    width: 33.333333%;
}

.footer--social span {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.footer--social span:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1500px) {
    .footer--logo, .footer--copyright, .footer--social {
        width: 100%;
    }
}

