.project--tile--type {
    font-weight: 500;
    color: var(--dark--shadow);
}

.project--tile--description {
    background-color: var(--light);
    color: var(--dark--shadow);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 10;
    margin-right: -150px;

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 15px 15px rgba(0, 0, 0, 0.06),
    0 30px 30px rgba(0, 0, 0, 0.086),
    0 35px 35px rgba(0, 0, 0, 0.05);
}

.project--tile--tags {
    color: var(--light);
}

.project--tile--tags span {
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--dark--shadow);
    padding: 4px 12px;
    margin: 5px 10px 5px 0;
    font-size: 12px;
}

.project--tile--tags span:hover {
    background-color: var(--light);
    color: var(--dark--primary);

}

.project--tile--image img {
    transition: all 0.5s ease-in-out;
}

.project--tile--image img:hover {
    z-index: 9;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 15px 15px rgba(0, 0, 0, 0.06),
    0 30px 30px rgba(0, 0, 0, 0.086),
    0 35px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 950px) {
    .project--tile--description {
        margin-right: -50px;
    }
}

@media (max-width: 767px) {
    .project--tile--description {
        margin-right: 0px;
    }
}